*{
    margin: 0;
    padding: 0;
}
.container {
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
    border: solid;
}
.to-dos{
    margin-top: 25px;
}
.paragraph-styling{
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}
/* h1 {
	font-size: 36px;
	margin-bottom: 20px;
} */

/* li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}
li span {
	flex-grow: 1;
	margin-right: 10px;
	text-align: left;
}
li button {
	background-color: #ff6347;
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
}
li button:hover {
	background-color: #ff7f50;
} */
